{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block body %}
    <h1 align="center">Notes</h1>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Note</th>
            <th scope="col">Time Added</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for note in user.notes %}
            <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{note.data}}</td>
            <td>{{note.date}}</td>
            <td><a type="button" href="/del/{{note.nid}}" class="btn btn-success">Done!</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

    <form action="" method="post">
        <textarea name="note" id="note" class="form-control"></textarea>
        <br />
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
    </form>
{% endblock body %}